body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  background-color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  margin: 20px 0;
  border: 10px solid #dcd6bc;
}

div {
  font-size: 20px;
  text-align: center;
}

.valid, .bomb, .checked {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
}

.valid, .bomb {
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.checked {
  border: 2px solid #9c998d;
  background-color: #cecab7;
}

.one { color: #e76346; }
.two { color: #4199d3; }
.three { color: #57da59; }
.four { color: #bb41d3; }

#result {
  margin-top: 5px;
  color: #e76346;
}

#restart-btn {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 18px;
  border: none;
  background-color: #4199d3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#restart-btn:hover {
  background-color: #327bb0;
}
